<section class="p-6 flex flex-col w-full shadow-sm rounded">
  <div class="flex justify-between items-center">
    <div class="bg-[#FFFAEB] rounded-full h-14 w-14 p-2">
      <span class="bg-[#FEF0C7] flex justify-center items-center inline-block rounded-full h-full w-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle text-[#DC6803] font-primary-500 text-xl" viewBox="0 0 16 16">
  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
</svg>
      </span>
    </div>
  </div>

  <h2 class="flex py-2 text-gray-950 text-lg font-bold text-center">{{data.title}}</h2>
  <div class="block text-primary-black-400 text-sm">{{data.subtitle}}</div>

  <div class="flex gap-3 mt-6 justify-between">
    <button (click)="dialogRef.close(null)" class="close-button w-full text-gray-700">{{buttonText[0]}}</button>
    <button (click)="deleteTask()" class="add-button ">{{buttonText[1]}}</button>
   </div>
</section>
